html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/*============== FONTES/CORES ==============*/
:root {
    /* fonts */
    --roboto: 'Roboto Condensed', sans-serif;
    --notoSc: 'Noto Serif SC', serif;
    --lato: 'Lato', sans-serif;;
    --yellow: #FFBE53;
    --dark: #1E000F;
    --darkOpacity: #1f000fe6;
}

* {
    margin: 0;
    padding: 0;
}

input, button, textarea {
    outline: none
}

/*============== QUEBRA DE LINHAS ==============*/
.text-truncate-2,
.text-truncate-3,
.text-truncate-4,
.text-truncate-5,
.text-truncate-6 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    /* Safari */
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -moz-box-orient: vertical;
}

.text-truncate-2 {
    -webkit-line-clamp: 2
}

.text-truncate-3 {
    -webkit-line-clamp: 3
}

.text-truncate-4 {
    -webkit-line-clamp: 4
}

.text-truncate-5 {
    -webkit-line-clamp: 5
}

.text-truncate-6 {
    -webkit-line-clamp: 6
}

.font-weight-black {
    font-weight: 900;
}

body {
    font-family: var(--notoSc);
    background-color: #DDDDDF;
    background-image: url(../imgs/bg-topo.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    color: var(--dark);
}

img {
    max-width: 100%;
    object-fit: cover;
}

p {
    font-size: 1em;
    font-size: clamp(1em, 0.975em + 0.125vw, 1.125em);
    line-height: calc(1em + 6px);
    margin-bottom: 1.875rem;
}

.content-text a {
    color: #AB2560;
    text-decoration: underline;
}

a[target=_blank] {
    cursor: alias;
}

/*============== MENU TOPO / MENU MOBILE ==============*/
.container-menu {
    position: sticky;
    top: 0;
    z-index: 99;
    transition: .3s;
    background-color: rgb(30 0 15 / 25%);
}

.container-menu.fixed {
    background-color: var(--darkOpacity);
}


.container-menu.open {
    background-color: var(--dark);
}

.navbar-menu a {
    font-weight: 700;
    font-family: var(--roboto);
    color: var(--yellow);
    z-index: 1;
}

.container-menu .navbar-menu li.active a {
    color: var(--dark);
}

.container-listmenu {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: var(--dark);
    height: 0;
    z-index: 0;
    opacity: 0;
    transition: all .3s;
    overflow: hidden;
}

.container-menu.open .container-listmenu {
    height: 100vh;
    opacity: 1;
}

.list-menu {
    flex-direction: column;
    align-items: center;
    max-width: 440px;
    width: 90vw;
    height: auto;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    margin: 0 auto;
    padding: 45px 20px;
}

.list-menu::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.list-menu::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
.list-menu::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 5px;
}

/* Handle on hover */
.list-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-menu li {
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    margin: 15px auto;
    text-align: center;
}

.list-menu li.active {
    background-color: var(--yellow);
}

.list-menu .li-share > span {
    color: var(--yellow);
    margin-bottom: 20px;
    display: block;
}

.list-menu .at-style-responsive .at-share-btn {
    margin: 0 5px;
}

.menu {
    width: 26.67px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.hamburguer {
    position: relative;
    background-color: var(--yellow);
    display: block;
    width: 21.33px;
    height: 4px;
    top: 8px;
    left: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
    border-radius: 5px;
}

.hamburguer:before, .hamburguer:after {
    background-color: var(--yellow);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: 500ms ease;
    border-radius: 5px;
}

.hamburguer:before {
    top: -8px;
    width: 25.33px;
}

.hamburguer:after {
    top: 8px;
    width: 25.33px;
}

.container-menu.open .hamburguer {
    background-color: transparent;
    top: 0;
}

.container-menu.open .hamburguer:after {
    transform: rotate(45deg);
}

.container-menu.open .hamburguer:before {
    transform: rotate(-45deg);
    top: 8px;
}

/*============== CONTEUDO MAIN ==============*/
.no-cover.bg-topo {
    height: 100vh;
    background-position: center top;
    max-height: 900px;
    min-height: auto;
}

.no-cover {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.cover .cover-wrapper {
    position: relative;
    text-align: center;
    z-index: 2;
    color: #fff;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover .cover-content {
    margin: 0 auto;
}

.cover .cover-content h2 {
    margin-bottom: 0;
    color: var(--yellow);
}

.cover-bg img {
    width: 100%;
}

.wrapper-box {
    font-weight: 300;
    padding: 50px 20px;
    z-index: 2;
    max-width: 500px;
    position: relative;
    padding-bottom: 100vh;
}

.content-box {
    background-color: var(--darkOpacity);
    padding: 20px;
    margin-right: 0;
    margin-left: auto;
    border-radius: 10px;
}

.content-box .section-title {
    text-align: left;
}

.content-box > p {
    margin-bottom: 0;
}

.cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100vh;
    color: #fff;
}

.cover-full {
    background-size: cover;
    background-position: center;
}

.cover-multiple-boxes {
    padding-top: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

/*.cover-multiple-boxes:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #1E000F;
    opacity: .3;
    z-index: -1;
    top: 0;
}*/

.cover-multiple-boxes .wrapper-box {
   /* margin: 0 0 90vh auto;
    padding-bottom: 400px;*/
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
}

.cover-multiple-boxes .content-box {
    max-width: 390px;
    margin: 0;
}

.cover-multiple-boxes .wrapper-box:nth-child(odd) {
    flex-direction: row-reverse;
}

ul {
    list-style: none;
}
ul img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    color: var(--dark);
    background-color: var(--yellow);
}

.btn:hover {
    background-color: var(--dark);
    color: #F5AFC0;
}

.embed iframe {
    width: 100%;
}

.embed-pdf {
    /*width: 60vw;*/
    width: 100vw;
    height: 90vh;
    display: none;
}

.figure-pdf {
    max-width: 594px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.embed-pdf iframe img {
    max-width: 100%!important;
}

.logo-section {
    height: 80vh;
}

.section-title {
    font-family: var(--roboto);
    font-size: 1.75em;
    font-size: clamp(1.75em, 1.675em + 0.375vw, 2.125em);
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-subtitle {
    margin: 30px auto 10px;
    font-size: 18px;
    display: block;
}

.title-cover {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}


/*============== CHARGES ==============*/
.cover-charges {
    color: #fff;
}

.cover-charges span {
    font-size: 20px;
    max-width: 590px;
    width: 100%;
}

.cover-charges .cover-multiple-boxes {
    padding-top: 0;
}
.cover-charges .wrapper-box {
    display: flex;
    max-width: 100%;
    padding: 0 0 30vh;
}
.cover-charges .content-box {
    background-color: transparent;
    padding: 0;
    max-width: 290px;
    margin-left: 0;
    flex-basis: 50%;
}

.cover-charges img {
    height: 100%;
}

.cover-charges .content-box:nth-child(odd) {
    margin-right: 10px;
}

.cover-charges p {
    font-family: var(--notoSc);
    color: #fff;
}

.img-charge img {
    max-width: 100%;
}

/*============== LINHA DO TEMPO ==============*/
.timeline-row figcaption * {
    font-size: 1rem;
    font-size: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
}

.timeline-row:last-of-type {
    padding-bottom: 0;
}

.time-year {
    top: 0;
    font-family: var(--roboto);
    background-color: var(--yellow);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.timeline-row .timeline-item:nth-child(odd) {
    padding-left: 4px;
}

.timeline-row .timeline-item:nth-child(even) {
    padding-right: 6px;
}

.timeline-row .img-profile img {
    border-radius: 50%;
}

.timeline-row .img-profile,
.timeline-row .cover-jornal {
    position: relative;
    max-width: 190px
}

.cover-jornal img {
    height: 100%;
}

.timeline-row figcaption {
    background-color: var(--dark);
    color: var(--yellow);
    position: absolute;
    top: 50%;
    z-index: -1;
    height: auto;
    text-align: center;
    border-radius: 0 0 10px 10px;
    justify-content: flex-end;
    padding: 0 10px;
    padding-top: calc(50% + 10px);
    width: 100%;
}

.timeline .timeline-row:before {
    content: '';
    display: block;
    width: 12px;
    height: 100%;
    background-color: purple;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40px;
    z-index: 2;
    border-radius: 10px;
}

.timeline .timeline-row:last-child:before {
    height: 60%;
}

/*============== CAPÍTULOS ==============*/
.chapter-item {
    max-width: 400px;
    margin: 0 auto
}

.chapter-item figure {
    overflow: hidden;
}

.chapter-item img, .chapter-item a {
    transition: .3s;
}

.info-chapter a {
    font-size: 30px;
    text-decoration: underline;
}

.chapter-item:hover img,
.chapter-item:hover a {
    transform: scale(1.2);
}

.chapter-item:hover a {
    text-decoration: underline;
    color: var(--yellow)!important;
}

.info-chapter span {
    font-size: 18px
}

.info-chapter span:first-of-type,
.info-chapter a {
    font-family: var(--roboto);
}

/*============== CRÉDITOS ==============*/
.cover .credits-section {
    color: var(--yellow);
}

.credits-list li {
    margin-bottom: 30px;
}

.credits-section {
    background-color: var(--dark);
    color: var(--yellow);
    padding-top: 70px;
}

/*============== ESPECIALISTAS ==============*/
.item-specialist h4 {
    font-size: 18px;
}

.img-specialist {
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    max-height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-specialist img {
    width: 100%;
    height: 100%;
}

/*============== FANCYBOX IMAGES ==============*/
.fancy-image:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--yellow);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url(../imgs/expandir-galeria.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}


.embed-podcast {
    display: none;
}


/*============== RODAPÉ ==============*/
.footer span {
    font-family: var(--roboto);
    font-weight: 400;
    color: #525252;
}
.footer-bg {
    background-color: var(--dark);
}
.content-footer {
    height: 90px;
}
.footer-bg span {
    color: var(--yellow);
}

/*============== MEDIA QUERIE ==============*/
@media screen and (min-width: 1520px), screen and (max-height: 700px) {
    .no-cover.bg-topo {
        background-size: contain;
    }
}

@media (min-width: 992px) {
    .no-cover.bg-topo {
        margin-top: -70px;
    }

    .navbar-menu {
        height: 70px;
    }

    .navbar-menu a {
        font-size: 24px;
        line-height: 32px;
    }

    .container-listmenu {
        top: 70px;
    }

    .container-menu .navbar-menu li:not(:last-child):hover {
        background-color: var(--yellow);
    }

    .container-menu .navbar-menu li:hover a {
        color: var(--dark)
    }

    .cover,
    .no-cover {
        padding: 120px 0;
    }

    .cover .cover-content {
        max-width: 70%;
    }

    .cover .cover-content h2 {
        font-size: 50px;
    }

    .section-text {
        padding: 90px 0;
    }

    .img-specialist {
        width: 290px;
        height: 290px;
    }

    .embed-podcast {
        width: 90vw;
        max-width: 800px;
    }

    .grafico1 {
        background-image: url('../imgs/graficos/desk/grafico1.png');
    }

    .grafico2 {
        background-image: url('../imgs/graficos/desk/grafico2.png');
    }

    .grafico3 {
        background-image: url('../imgs/graficos/desk/grafico3.png');
    }

    .grafico4 {
        background-image: url('../imgs/graficos/desk/grafico4.png');
    }

    .grafico5 {
        background-image: url('../imgs/graficos/desk/grafico5.png');
    }

    .grafico6 {
        background-image: url('../imgs/graficos/desk/grafico6.png');
    }

    .grafico7 {
        background-image: url('../imgs/graficos/desk/grafico7.png');
    }

    .grafico8 {
        background-image: url('../imgs/graficos/desk/grafico8.png');
    }

    .grafico9 {
        background-image: url('../imgs/graficos/desk/grafico9.png');
    }
}

@media (max-width: 991px) {
    .no-cover.bg-topo {
        margin-top: -50px;
        background-size: cover;
    }

    .navbar-menu {
        height: 50px;
    }

    .navbar-menu a {
        font-size: 16px;
        line-height: 22px;
    }

    .container-listmenu {
        top: 50px;
    }

    .logo-section .img-logo {
        max-width: 240px;    
    }

    .cover,
    .no-cover {
        padding: 60px 0;
        background-position: center;
    }
    
    .cover .cover-content {
        max-width: 90%;
    }

    .cover .cover-content h2 {
        font-size: 30px;
    }

    .section-text {
        padding: 50px 0;
    }

    .img-specialist {
        width: 215px;
    }

    .embed-podcast {
        padding: 30px;
        width: 100%;
    }

    .grafico1 {
        background-image: url('../imgs/graficos/mobile/grafico1.png');
    }

    .grafico2 {
        background-image: url('../imgs/graficos/mobile/grafico2.png');
    }

    .grafico3 {
        background-image: url('../imgs/graficos/mobile/grafico3.png');
    }

    .grafico4 {
        background-image: url('../imgs/graficos/mobile/grafico4.png');
    }

    .grafico5 {
        background-image: url('../imgs/graficos/mobile/grafico5.png');
    }

    .grafico6 {
        background-image: url('../imgs/graficos/mobile/grafico6.png');
    }

    .grafico7 {
        background-image: url('../imgs/graficos/mobile/grafico7.png');
    }

    .grafico8 {
        background-image: url('../imgs/graficos/mobile/grafico8.png');
    }

    .grafico9 {
        background-image: url('../imgs/graficos/mobile/grafico9.png');
    }
}

@media (min-width: 768px) {
    .timeline-row {
        padding: 170px 0 70px;
    }
    .timeline-row figcaption {
        padding-bottom: 20px;
    }
    .credits-list li {
        flex-basis:  50%;
        padding-right: 40px;
    }
    .cover-jornal {
        height: 340px;
    }
}

@media (max-width: 767px) {
    .timeline-row {
        padding: 130px 0 50px;
    }
    .timeline-row .timeline-item {
        z-index: 2;
    }
    .timeline-row figcaption {
        padding-bottom: 40px;
    }
    .timeline-row .timeline-item:nth-child(even) {
        max-width: 145px;
    }
    .timeline-row .timeline-item:nth-child(odd) {
        max-width: 140px;
    }
    .cover-jornal {
        height: 244px;
    }
    .footer-bg span {
        font-size: 12px;
    }
}